<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Use the methods `tinker.shine(color:)`, `tinker.wave()`, `tinker.lowerArm()`, and `tinker.raiseArm()` in the right sequence to transform Tinker into a real TJBot.</string>
		</dict>
		<dict>
			<key>FileReference</key>
			<string>Solution.txt</string>
			<key>SpoilerButtonTitle</key>
			<string>Show Solution</string>
		</dict>
	</array>
</dict>
</plist>
